<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Turismo Real</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="ios" class="slide-full" [options]="{ slidesPerView:1, autoplay: {delay: 3000} }">
    <ion-slide *ngFor="let slide of slides">     
      <ion-card>
        <img [src]='slide.img'  class="slide-image">
        <ion-card-header>
          <ion-card-subtitle>{{slide.titulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
             {{slide.desc}}
        </ion-card-content>
    </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
