<app-header titulo="Informacion Personal"></app-header>

<ion-content class="ion-padding">

    <form (ngSubmit)="actualizarCliente( fActualizar )" #fActualizar="ngForm">
  
      <ion-item fill="outline">
        <ion-label position="floating">Nombres</ion-label>
        <ion-input name="nombre" type="text" placeholder="Nombres" [(ngModel)]="cliente.nombre" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input name="apPaterno" type="text" placeholder="Apellido paterno" [(ngModel)]="cliente.apPaterno" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input name="apMaterno" type="text" placeholder="Apellido materno" [(ngModel)]="cliente.apMaterno" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">RUN</ion-label>
        <ion-input name="run" type="text" placeholder="11.111.111-1" [(ngModel)]="cliente.run" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Genero</ion-label>
        <ion-input name="genero" type="text" placeholder="" [(ngModel)]="cliente.genero"  disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input name="fechaNacimiento" type="text" placeholder="" [(ngModel)]="cliente.fechaNacimiento" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Direccion</ion-label>
        <ion-input name="direccion" type="text" placeholder="Direccion" [(ngModel)]="cliente.direccion" disabled="true"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Telefono</ion-label>
        <ion-input name="telefono" type="text" placeholder="+5699999999" [(ngModel)]="cliente.telefono" ></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Telefono 2</ion-label>
        <ion-input name="telefono2" type="text" placeholder="+5699999999" [(ngModel)]="cliente.telefono2" ></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input name="correo" type="email" placeholder="ejemplo@mail.com" [(ngModel)]="cliente.correo" ></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input name="nombreUsuario" type="text" placeholder="Nombre de usuario" [(ngModel)]="cliente.nombreUsuario" disabled="true"></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="block">Actualizar</ion-button>
    </form>
   
  </ion-content>