<app-header titulo="Registro"></app-header>

<ion-content class="ion-padding">

  <ion-item fill="outline">
    <ion-label position="floating">Nombres</ion-label>
    <ion-input placeholder="Nombres"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Apellido Paterno</ion-label>
    <ion-input placeholder="Apellido paterno"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Apellido Materno</ion-label>
    <ion-input placeholder="Apellido materno"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">RUN</ion-label>
    <ion-input placeholder="11.111.111-1"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label>Genero</ion-label>
    <ion-select placeholder="Genero">
      <ion-select-option value="M">Masculino</ion-select-option>
      <ion-select-option value="F">Femenino</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime-button datetime="datetime" ></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" locale="es-ES"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Direccion</ion-label>
    <ion-input placeholder="Direccion"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label>Region</ion-label>
    <ion-select placeholder="Region">
      <ion-select-option value="RM">Region Metropolitana</ion-select-option>
      <ion-select-option value="VI">VI Region</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label>Provincia</ion-label>
    <ion-select placeholder="Provincia">
      <ion-select-option value="SG">Santiago</ion-select-option>
      <ion-select-option value="CH">Chacabuco</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label>Comuna</ion-label>
    <ion-select placeholder="Comuna">
      <ion-select-option value="SJ">San Joaquin</ion-select-option>
      <ion-select-option value="LF">La Florida</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Telefono</ion-label>
    <ion-input placeholder="+5699999999"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Telefono 2</ion-label>
    <ion-input placeholder="+5699999999"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input placeholder="ejemplo@mail.com"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input placeholder="Nombre de usuario"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block">Registrar</ion-button>

</ion-content>
